#include <windows.h>
#include "resource.h"


IDD_PROPERTIES DIALOG 0,0,240,116
STYLE DS_CONTROL | WS_CHILD
CAPTION "CasProcessor"
FONT 9,"ＭＳ Ｐゴシック"
BEGIN
	AUTOCHECKBOX "指定サービスのみデコードする(&S)",IDC_PROPERTIES_SPECIFICSERVICEDECODING,8,8,128,9
	AUTOCHECKBOX "EMM処理を行う(&E)",IDC_PROPERTIES_ENABLEEMMPROCESS,8,20,80,9

	RTEXT "使用する拡張命令(&I):",IDC_PROPERTIES_INSTRUCTION_LABEL,8,38,72,8
	COMBOBOX IDC_PROPERTIES_INSTRUCTION,84,36,64,80,WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
	PUSHBUTTON "ベンチマークテスト(&B)",IDC_PROPERTIES_BENCHMARKTEST,152,35,80,14
	LTEXT "",IDC_PROPERTIES_INSTRUCTION_NOTE,84,52,148,16

	RTEXT "カードリーダー(&C):",-1,8,76,64,8
	EDITTEXT IDC_PROPERTIES_CARDREADERNAME,76,76,156,8,NOT WS_BORDER | ES_READONLY | ES_AUTOHSCROLL
	RTEXT "カードID(&I):",-1,8,88,64,8
	EDITTEXT IDC_PROPERTIES_CARDID,76,88,156,8,NOT WS_BORDER | ES_READONLY | ES_AUTOHSCROLL
	RTEXT "カード識別(&D):",-1,8,100,64,8
	EDITTEXT IDC_PROPERTIES_CARDVERSION,76,100,156,8,NOT WS_BORDER | ES_READONLY | ES_AUTOHSCROLL
END
